
@{
    Layout ="~/Views/Shared/_Layout - Copy.cshtml";
}

<h2>Thay đổi mật khẩu</h2>
<style>
    ul{
        color: white ;
        font-size: 20px;
    }
</style>

<ul>
<form asp-controller="Default" asp-action="ChangePassword" method="post">
    <div class="form-group">
        <label for="currentPassword">Mật khẩu hiện tại:</label>
            <input type="password" class="form-control" id="currentPassword" name="currentPassword" style="font-size: 18px; height: 40px;" required>
    </div>
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
    <div class="form-group">
        <label for="newPassword">Mật khẩu mới:</label>
            <input type="password" class="form-control" id="newPassword" name="newPassword" style="font-size: 18px; height: 40px;" required>
    </div>
    <button type="submit" class="btn btn-primary">Thay đổi mật khẩu</button>
</form>
</ul>